@using ITest.Models.CategoryViewModels
@model CategoriesViewModel

<nav class="navbar navbar-inverse" style="margin-top:5%">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            @{var a = 0;}
            @foreach (var item in Model.AllCategories)
            {
                <li class="categoryButton" id="categoryButton-@a" style="border:solid ">
                    <a href="#" data-toggle="tab" data-category="@item.Name">
                        @item.Name
                    </a>
                </li>
                a++;
            }
        </ul>
    </div>
</nav>
<div class="hiddenClass" style="text-align:center">
    <a href="" id="start-Button">
        <p style="display:inline-block">Start</p>
        <p style="display:inline-block" id="startButton"></p>
        <p style="display:inline-block">Test</p>
    </a>
</div>
@section Scripts{
    <script src="~/js/user-test.js"></script>
}
