@model ITest.DTO.TestEditDTO

@{
    ViewData["Title"] = "EditTest1";
}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-lite.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-lite.js"></script>
<link rel="stylesheet" href="~/css/EditTest.css" />

<div id="createTest-content">
    <h1 class="pageTitle">Create New Test</h1>
    <div class="row">
        <div>
            <form asp-controller="CreateTests" asp-action="CreateNewTest" method="post" class="form-inline" id="question-form">
                <div class="form-group">
                    <input asp-for="Name" placeholder="Test name" id="input-test" class="form-control" />
                    <input asp-for="CategoryId" placeholder="Test Category" id="input-test" class="form-control" />
                    <input asp-for="TimeInMinutes" placeholder="TimeInMinutes" id="input-test" class="form-control" />
                    @*<label>
                            Status
                            @Html.DropDownList("Status", new List<SelectListItem>
                                                {
                                                    new SelectListItem{ Text="Published", Value = "1" },
                                                    new SelectListItem{ Text="Draft", Value = "2" },

                                                 })
                        </label>*@
                </div>
                <br />
                @for (int i = 0; i < Model.Questions.Count; i++)
                {
                    <div id="questions-container">
                        <div class="panel panel-default question" name="Questions1">
                            <div><h3>Question1</h3></div>
                            <div class="form-group">
                                <input asp-for="Questions[0].Content" placeholder="Question content" class="form-control" />
                                <button type="button" class="add-answer">Add Answer</button>
                            </div>
                            <div class="answer-container">
                                @for (int j = 0; j < @Model.Questions[i].Answers.Count; j++)
                                {
                                    <div style="height: 50px;" class="form-group col-lg-offset-1">
                                        <input type="text" id="Questions_0__.Answers_0__.Content" name="Questions[0].Answers[0].Content" placeholder="Answer1" class="form-control" />
                                        <input type="radio" id="Questions_0__.Answers_0__.Correct" name="radio_0" class="form-control" value="true" />

                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
                <div>
                    <button type="button" class="add-question btn btn-default">Add Question</button>
                </div>
                <br />
                <div id="submitBtnArea" class="form-group">

                    <button id="submitNewTestBtn" type="submit" value="submit" class="btn btn-default">Publish</button>

                </div>
            </form>
        </div>
    </div>
</div>




@*
    <button id="saveDraft" type="submit" value="submit" class="btn btn-default">Save as draft</button>
            <button id="submitNewTestBtn" type="submit" value="submit" class="btn btn-default">Publish</button>
    <div id="submitBtnArea" class="form-group">
        <button id="saveDraft" type="submit" value="submit" class="btn btn-default">Save as draft</button>

    </div>*@
@*<div id="submitBtnArea" class="form-group">
        <input type="submit" value="Save" class="btn btn-default" id="submitNewTestBtn" />
    </div>*@



<script>
    $('#summernote').summernote({
        placeholder: 'Hello bootstrap 4',
        tabsize: 2,
        height: 100
    });
</script>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
